Base Extra CSV
https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page

In [5]:
#Teste Criar Dimensoes
'''
FatoCorrida = Todas datas,ids e métricas
Dimensões:
DimVendor (Dimensão do fornecedor do táxi)
DimRatecode (Tipo de tarifa)
DimLocation (Localização - para pickup e dropoff) -- Plus contratação , tentar achar arquivo com ID das localizações 
DimPayment (Forma de pagamento)
DimCalendário 
'''

'\nFatoCorrida = Todas datas,ids e métricas\nDimensões:\nDimVendor (Dimensão do fornecedor do táxi)\nDimRatecode (Tipo de tarifa)\nDimLocation (Localização - para pickup e dropoff) -- Plus contratação , tentar achar arquivo com ID das localizações \nDimPayment (Forma de pagamento)\nDimCalendário \n'

DimVendor

In [12]:
import os
import pandas as pd
from path_origem_parquet import get_parquet_path
from path_destination_Dim import get_dim_path


path_parquet = os.path.join(get_parquet_path(), 'database.parquet')
destination_vendor = os.path.join(get_dim_path(), 'dim_vendor_jan.parquet')
'''
Obs destination  de todas as tabelas: como a base informada só tem o mes de jan para diferenciar o nome no arquivo coloquei manual 
porem da para inseirir em variavel para pegar o mes atual quando rodar a base do mes salva o arquivo conforme o mes vigente

'''

'\nObs destination  de todas as tabelas: como a base informada só tem o mes de jan para diferenciar o nome no arquivo coloquei manual \nporem da para inseirir em variavel para pegar o mes atual quando rodar a base do mes salva o arquivo conforme o mes vigente\n\n'

In [13]:
df_vendor = pd.read_parquet(path_parquet)
df_vendor.head(2)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.6,1.0,N,229,237,1,10.0,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.0
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.5,1.0,N,236,237,1,5.1,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.0

In [14]:

df_dim_vendor = df_vendor[['VendorID']].drop_duplicates().copy()


map_vendor = {
    1: 'Creative Mobile Technologies, LLC',
    2: 'Curb Mobility, LLC',
    6: 'Myle Technologies Inc',
    7: 'Helix'
}

df_dim_vendor['VendorName'] = df_dim_vendor['VendorID'].map(map_vendor)


df_dim_vendor.head()

         VendorID                         VendorName
0               1  Creative Mobile Technologies, LLC
3               2                 Curb Mobility, LLC
31891           7                              Helix
2943550         6              Myle Technologies Inc

In [15]:
#ver se destinos estao ok
print(path_parquet)
print(destination_vendor)

d:\05. Projetos Python\Etl Igma Tech\Storage\Database\database.parquet
d:\05. Projetos Python\Etl Igma Tech\Storage\Dim\dim_vendor_jan.parquet

In [16]:
df_dim_vendor.to_parquet(destination_vendor, index=False)

In [17]:
# ler de teste ver se está ok 
df_test_vendor = pd.read_parquet(destination_vendor)
df_test_vendor.head()

   VendorID                         VendorName
0         1  Creative Mobile Technologies, LLC
1         2                 Curb Mobility, LLC
2         7                              Helix
3         6              Myle Technologies Inc